
h1{
	text-align:center;
}
#linie1{
	width:80%;
	height:5px;
	background-color:blue;
}
#linie2{
	width:60%;
	height:5px;
	background-color:yellow;
}
#linie3{
	width:40%;
	height:5px;
	background-color:red;
	}
	table{
	width: 70%;
	border-collapse: collapse;
	text-align:center;
}